<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Length Converter</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="tall-box">
        <div class="title">Unit Converter</div>
        <div class="buttons">
            <a href="/length" class="btn active">Length</a>
            <a href="/weight" class="btn">Weight</a>
            <a href="/temperature" class="btn">Temperature</a>
        </div>
        <div class="form">
            <label for="value">Enter the length to convert</label>
            <input type="text" id="value" class="textfield">

            <label for="from-unit">Unit to convert from</label>
            <input type="text" id="from-unit" class="textfield">

            <label for="to-unit">Unit to convert to</label>
            <input type="text" id="to-unit" class="textfield">

            <button class="btn">Convert</button>
        </div>
    </div>
</body>

</html>